---
title: 原来你也在这里 
layout: default
permalink: 
---
<a href="/"  style="font-weight:bold;"><i class="fa fa-connectdevelop fa-spin fa-fw"></i> {{site.title}} ( {{ paginator.total_posts }} posts )</a>
<nav class="post-home-link">
  <a href="/"  style="font-weight:bold;"> <i class="fa fa-home" aria-hidden="true"></i>  HOME </a>
  <span>&nbsp;</span>
  <a href="https://zlog.net" target="_blank"  style="font-weight:bold;"> <i class="fa fa-tencent-weibo fa-fw" aria-hidden="true"></i></a>
  <span>&nbsp;</span>
  <a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss fa-fw" aria-hidden="true"></i></a>
</nav>
<div>　　　　</div>
<div class="qricon"><i class="fa fa-qrcode fa-2x" aria-hidden="true"></i></div>
<div class="hide" id="qrcode" style="box-shadow: inset #287a7b 0px 0px 6px 6px; float: right; padding: 10px; margin:10px 0px 10px 10px;" ></div>
{% for post in paginator.posts %}
  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
  {% if year != y %}
    {% assign year = y %}
    <div><li class="listing-seperator">{{ y }}</li></div>
  {% endif %}
  <div>
  <li class="listing-item">
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }} - {{ post.date | date: "%A" }}</a>
  </li>
  </div>
{% endfor %}
<div>　　　　</div>
<div id="post-pagination" class="paginator">
 {% if paginator.total_pages > 1 %}
    {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <span class="list-page"><a href="/">1</a></span>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <span class="list-page"><a href="/p{{count}}/">{{count}}</a></span>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

