<script>
 var domain = window.location.hostname;
if (domain !== 'hao.zhao.im') {
  document.write("<div id='disqus_thread'></div>");
} 
</script>
<div id='gitalk-container'></div>
<script>
var gitalk = new Gitalk({
  clientID: 'Ov23licZ6gRUYSlh30Hc',
  clientSecret: 'd27e7d086831bef23f2608f0ea1f9dc9247977f2',
  repo: 'zhaohao',
  owner: 'zhaohao',
  admin: ['zhaohao'],
  id: '{{ page.url }}',      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
var domain = window.location.hostname;
if (domain == 'hao.zhao.im') {
    gitalk.render('gitalk-container');
}
</script>

<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = '{{site.qrcodeurl}}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '{{ page.url | remove: "/posts/" }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://zhaohao.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
