<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="zhao.im" />
<meta name="description" content="ZHao's Notes">
<meta name="theme-color" content="#008090">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/code.css">
<link rel="stylesheet" href="/assets/css/timeline.css">
<link rel="stylesheet" href="/assets/css/fonts.css">
<link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css">
<!--link rel='stylesheet' id='lxgwwenkai-css' href='//cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css?ver=6.2.2' type='text/css' media='all' /-->
<script type="text/javascript" src="/assets/js/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.qrcode.min.js"></script>
{% capture mytitle%}{{page.title}}{%endcapture%}
<title>{% if mytitle %}{{ mytitle | escape }} | {{ site.title }}{% else %}{{ site.title | escape }} | {{ site.description }}{% endif %}</title>
<style type="text/css"></style>
</head>
