<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="zhaohao" />
<meta name="description" content="ZHao's Notes">
<meta name="theme-color" content="#E7E2D4">
{% capture mytitle%}{{page.title}}{%endcapture%}<title>{% if mytitle %}{{ mytitle | escape }} | {{ site.title }}{% else %}{{ site.title | escape }} | {{ site.description }}{% endif %}</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/code.css">
<link rel="stylesheet" href="/assets/css/timeline.css">
<link rel="stylesheet" href="/assets/css/fonts.css">
<link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css">
<!--link rel='stylesheet' id='lxgwwenkai-css' href='//cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css?ver=6.2.2' type='text/css' media='all' /-->
<link rel="stylesheet" href="/assets/css/gitalk.css">
<script type="text/javascript" src="/assets/js/gitalk.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.qrcode.min.js"></script>
<script>
  let html = document.querySelector('html');
  html.setAttribute('data-theme', localStorage.getItem("themeName"));
  function toggle() {
    let html = document.querySelector('html');
    let currentTheme = html.getAttribute('data-theme');
    if (currentTheme === "dark") {
        html.setAttribute('data-theme', 'light');
        localStorage.setItem("themeName", 'light');
    } else {
        html.setAttribute('data-theme', 'dark');
        localStorage.setItem("themeName", 'dark');
    }
}
</script>
<script>
  var permanentlink = window.location.href;
  jQuery(function() {
      jQuery('#qrcode').qrcode({
          render: "table",
          width: 90,
          height: 90,
          foreground: "#337778",
          background: "#efefef",
          text: permanentlink
      });
  })
</script>
<script type="text/javascript">
  $(function () {
      $(document).keydown(function (e) {
          var url = false;
          if (e.which == 39 || e.which == 75) {  // Right arrow and K
              {% if page.previous %}
              url = '{{ site.url }}{{ page.previous.url }}';
              {% endif %}
          }
          else if (e.which == 37 || e.which == 74) {  // Left arrow and J
              {% if page.next %}
              url = '{{ site.url }}{{ page.next.url }}';
              {% endif %}
          }
          if (url) {
              window.location = url;
          }
  });
  })
</script>
<style type="text/css"></style>
</head>