---
layout: default
---
<nav class="post-home-link">
  <a href="/"  style="font-weight:bold;"> <i class="fa fa-home" aria-hidden="true"></i>  HOME </a>
  <span>&nbsp;</span>
  <a href="https://zlog.net" target="_blank"  style="font-weight:bold;"> <i class="fa fa-tencent-weibo fa-fw" aria-hidden="true"></i></a>
  <span>&nbsp;</span>
  <a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss fa-fw" aria-hidden="true"></i></a>
</nav>
<button id="backbutton"  onclick="(() => (history.length === 1) ? window.location = '/' : history.back())()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back </button>
<div style="font-weight:bold; color: #9e3636; margin-left:1em; "><i class="fa fa-file-text-o" aria-hidden="true"></i> {{page.title}}</div>
<div class="post-content">
{{ content }}
</div>
<nav style="margin: 30px 0 0 0;"><a href="/"><span>	<< Back To Home</span></a></nav>
<hr>