---
layout: default
---
<nav class="post-home-link">
  <a href="/"  style="font-weight:bold;"> <i class="fa fa-home" aria-hidden="true"></i>  HOME </a>
  <span>&nbsp;</span>
  <a href="https://zlog.net" target="_blank"  style="font-weight:bold;"> <i class="fa fa-tencent-weibo fa-fw" aria-hidden="true"></i></a>
  <span>&nbsp;</span>
  <a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss fa-fw" aria-hidden="true"></i></a>
</nav>
<button id="backbutton"  onclick="(() => (history.length === 1) ? window.location = '/' : history.back())()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back </button>
{% if page.next.url %}
<div class="post-next-link">
  <a href="{{page.next.url | prepend: site.baseurl }}">
    <span>▲ Newer Post  : {{page.next.title}} [J/←]</span>
  </a>   
</div>
{% endif %}
<div class="post-content">
<div id='tag_cloud'><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="font-family: 'Courier New', Courier, monospace;">{{ page.date | date: "%A, %B %-d | Week %W & Day %j of Year %Y" }}</time></div>
<h2>{{ page.title }}</h2>  
<div style="margin: -1em 0 0 0;float: right;">
  {% if page.categories %}
  <i class="fa fa-folder" aria-hidden="true"></i>
    {% for cat in page.categories %}
    <a href="/categories/index.html#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
    {% endfor %}
  {% endif %}
  {% if page.tags %}
  <i class="fa fa-hashtag" aria-hidden="true"></i> 
    {% for tag in page.tags %}
    <a href="/tags/index.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
    {% endfor %}
  {% endif %}
</div> 
{{ content }}
</div>
<table border="0">
<tr>
  <td style="border-top: #008090 .5em solid;">
  <div id="qrcode" style="box-shadow: inset #287a7b 0px 0px 6px 6px; float: left; padding: 10px; margin:10px 10px 10px 0;" ></div>
  </td>
  <td style="border-top: #9e3636 .5em solid;">
    <span class="">Update Time: 【 {{page.date | date:"%Y-%m-%d %H:%M:%S %Z"}} 】</span>
    <br>
    <span class="">Permanent Link: <a href="{{ site.url }}{{ page.url }}">【 {{ page.url | remove: "/"}} 】</a></span>
  </td>
</tr>
</table>
{% if site.comments %}
{% include comments.html %}
{% endif %}
{% if page.previous.url %}
<div class="post-pre-link">
  <a href="{{page.previous.url | prepend: site.baseurl }}">
    <span>▼ Older Post  : {{page.previous.title}} [K/→]</span>
  </a>   
</div>
{% endif %}
<hr>