---
layout: default
---

<nav class="post-home-link">
  <a href="/">
    <span> ↸ HOME </span>
  </a>
  <span>&nbsp;</span>
  <a href="{{ site.baseurl }}/timeline.html">
    <span>  TimeLine  </span>
  </a>
</nav>

{% if page.next.url %}
<div class="post-next-link">
  <a href="{{page.next.url | prepend: site.baseurl }}">
    <span>▲ Newer Post  : {{page.next.title}}</span>
  </a>   
</div>
{% endif %}
<div class="post-content">
<span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%A, %B %-d | Week %W & Day %j of Year %Y" }}</time></span>
<h2>{{ page.title }}</h2>
{{ content }}
</div>
<table border="0">
<tr>
  <td style="border-top: #00a8a8 .5em solid;">
  <div id="qrcode" style="box-shadow: inset #287a7b 0px 0px 6px 6px; float: left; padding: 10px; margin:10px 10px 10px 0;" ></div>
  </td>
  
  <td style="border-top: #bc265e .5em solid;">
    <span class="">Update Time: 【 {{page.date | date:"%Y-%m-%d %H:%M:%S %Z"}} 】</span>
    <br>
    <span class="">Permanent Link: <a href="{{ site.url }}{{ page.url }}">【 {{ site.url }}{{ page.url | remove: "/posts/"}} 】</a></span>
  </td>
</tr>
</table>
{% if site.comments %}
{% include comments.md %}
{% endif %}
{% if page.previous.url %}
<div class="post-pre-link">
  <a href="{{page.previous.url | prepend: site.baseurl }}">
    <span>▼ Older Post  : {{page.previous.title}}</span>
  </a>   
</div>
{% endif %}
<hr>
<p style="font-size:70%;color:#999;text-align:right;">Copyright © 2014-2024 <a href="/profile.html">zhao.im</a>. | Update Time：{{page.date | date:"%Y-%m-%d %H:%M:%S %Z"}} | <a href="#"> ▲Back To Top</a></p>
